/*
Theme Name: Velocity Child Sekolah 1
Theme URI: https://sekolah1.velocitydeveloper.com/
Description: Velocity Developer WordPress theme child Paket F sekolah1.velocitydeveloper.com
Author: Velocity Developer
Author URI: https://velocitydeveloper.com/
Template: velocity
Version: 1.1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */
